*{
  font-family: Helvetica;
}

.flex-container {
  display: flex;
  flex-direction: wrap;
}

.container {
  flex: 1;
  min-width: 300px;
}

.login-form {
  background-color: #D6B68F;
  font-family: helvetica;
  border-radius: 25px;
  margin: 45px;
  padding: 25px;
}

.login_content {
  padding-top: 17px;
  margin: 10px;
  color: #335288;
}

.form-field {
  border-radius: 15px;
  width: 100%;
  height: 48px;
  padding: 16px;
  border-color: white;
  color: #335288;
}

.login-button {
  border-radius: 16px;
  display: block;
  text-align: center;
  margin: 16px auto;
  background-color: #335288;
  color: white;
  width: 50%;
  height: 46px;
  border-color: #335288;
}

.signup-button {
  border-radius: 16px;
  padding-top: 10px;
  display: block;
  text-align: center;
  margin: 16px auto;
  background-color: #335288;
  color: white;
  width: 50%;
  height: 46px;
  border-color: #335288;
  text-decoration: none;
}

.login-button:hover,
.signup-button:hover {
  background-color: #2a3e6d;
  cursor: pointer;
}

.form-field:focus {
  outline: none;
  border-color: #335288;
  outline: 2px solid #335288;
}

#criteria-container {
  border: 2px solid #D6B68e;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.valid {
  background-color: #d4edda;
}

.invalid {
  background-color: #f8d7da;
}

.forgot-pw-text-right {
  text-align: right;
  padding-top: 10px;
  color: #335288;
}

.forgot-pw-text-right:hover a {
  color: black;
}

.search-bar-home {
  border-radius: 10px;
  border-color: white;
}

.search-bar-home:focus {
  outline: none;
  border-color: #335288;
  outline: 2px solid #335288;
}

.icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon-button:hover {
  color: #2a3e6d;
}

.profile-pic-btn {
width: 26px;
height: 26px; 
border-radius: 50%; 
object-fit: cover;  
}

.pet-cards-flex {
display: flex;
justify-content: left;
padding: 10px 0;
flex-wrap: wrap; /* Allow wrapping of items */
}

.pet-card {
background-color: #D6B68F;
flex-basis: calc(25% - 20px); /* Calculate width to fit 4 items per row */
border: 1px solid #ccc;
border-radius: 15px;
overflow: hidden;
margin: 10px;
position: relative; /* For heart icon positioning */
width: 150px;
}

.pet-card h1{
font-size: 24px;
font-weight: bold;
color: white;
}

.pet-card p{
font-size: 12px;
}

.pet-card img {
width: 100%;
height: 75%;
border-radius: 0 0 15px 15px;
object-fit: cover;
aspect-ratio: 1 / 1;
}


.pet-info {
padding: 10px;
background-color: #D6B68F;
color: white;
}

.heart-icon {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
color: gray;
border: none; /* Remove any border */
transition: 0.2s ease-in-out;
font-size: 36px;
}

.heart-icon.clicked {
color: red; /* Red color on click */
}

.create-form-container {
  font-size: 14px;
  font-weight: bold;
  max-width: 480px;
  width: 100%; 
  margin: 0 auto;
  padding: 16px;
  background-color: #D6B68F;
  border-radius: 25px;
}


input[type=text], 
input[type=date]{
  border: none;
  border-radius: 15px;
  padding: 16px;
  width: 100%;
  height: 36px;
}

select{
  border: none;
  padding-left: 16px;
  border-radius: 15px;
  width: 100%;
  height: 36px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 20px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.create-form-container input:focus,
.create-form-container select:focus,
.create-form-container date:focus {
  outline: none;
  border-color: #335288;
  outline: 2px solid #335288;
}

.create-profile-btn{
  border: none;
  outline: none;
  background-color: #335288;
  color: white;
  border-radius: 36px;
  padding: 6px;
  width: 40%;
  transition: 0.2s ease;
}

.create-profile-btn:hover{
outline: none;
color: black;
background-color: white;
cursor: pointer;
}

.autocomplete-dropdown {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding-left: 2px;
  margin: 0;
  cursor: pointer;
}

.autocomplete-dropdown li:hover {
  background-color: #2a3e6d;
  color: white;
}

#breed-autocomplete-results {
  border-radius: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background: white;
  z-index: 1000;
}

#breed-autocomplete-results li {
  padding: 8px;
  cursor: pointer;
}

#breed-autocomplete-results li:hover {
  background-color: #2a3e6d;
  color: white;
}


.filter-option{
  width: 10%;
  border: 2px solid black
}

@media (max-width: 800px) {
  .flex-container {
      flex-direction: column;
      padding-right: 0;
  }

  .flex-container img {
      max-width: 100%;
      height: auto;
  }
}


@media (max-width: 600px) {
  .flex-container {
      padding: 0;
  }

  .container {
      margin: 10px;
  }

  .login_content {
      font-size: 18px;
  }

  .form-field {
      height: 40px;
      padding: 12px;
  }

  .login-button,
  .signup-button {
      width: 80%;
      height: 40px;
  }

  p {
      font-size: 16px;
  }

  img {
      width: 100%;
      max-width: 80%;
      height: auto;
      margin: 0 auto;
  }

  .filter-option{
    width: 20%;
  }
}